<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <title>HabiTapp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa'>
    </head>

    <body id="home">
        <h1>HabiTapp</h1>
        <h6>"Your Habits in an App with just one Tap"</h6>

        <center><button id="start" type="button"><a href="Login Page.html">
            Get Started
        </a></button></center>
    </body>

</html>