<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <title>HabiTapp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa'>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <section>
            <h1>HabiTapp</h1>
            <h6 id="quote">"Your Habits in an App with just one Tap"</h6>
        </section>
            {% block content %}
            {% endblock content %}

    </body>

</html>