{% extends 'base1.html' %}

{% load static %}
{% block content %}

        <div class="form-container">
            <form>
                <input type="text" placeholder="User">
                <input type="password" placeholder="Password">
                <a href="../Dashboard/"><button class="login" type="button">Login</button></a>
            </form>
            <p class="subtext">Don't have an account? <a href="../SignUp/" class="uText">Sign Up Here</p></p>
        </div>

{% endblock content %}