{% extends 'Dashboard/base_dash.html' %}

{% load static %}
{% block content %}

        <div id="date">
            <h5>3hrs 49mins</h5>
            <hr>
            <section id="mon">
                <p id="date">mon</p>
            </section>
            <section id="tue">
                <p id="date">&nbsptue</p>
            </section>
            <section id="wed">
                <p id="date">wed</p>
            </section>
            <section id="thu">
                <p id="date">&nbspthu</p>
            </section>
            <section id="fri">
                <p id="date">&nbsp fri</p>
            </section>
            <section id="sat">
                <p id="date">&nbspsat</p>
            </section>
            <section id="sun">
                <p id="date">&nbspsun</p>
            </section>

                <p id="time">8h</p>
                <p id="time">6h</p>
                <p id="time">4h</p>
                <p id="time">2h</p>
            <hr id="line1">
            <hr id="line2">
            <hr id="line3">
            <hr id="line4">
        </div>

{% endblock content %}