{% extends 'Dashboard/base_dash.html' %}

{% load static %}
{% block content %}

        <div>
            <h5>10hrs 5mins</h5>
            <hr>
            <section id="mon">

            </section>
            <section id="tue">
                
            </section>
            <section id="wed">
                
            </section>
            <section id="thu">
                
            </section>
            <section id="fri">
                
            </section>
            <section id="sat">
                
            </section>
            <section id="sun">
                
            </section>
        </div>

{% endblock content %}