{% extends 'Dashboard/base_dash.html' %}

    {% load static %}
    {% block content %}

        <div id="bigcontainer">
            <h4 id="h4">Focus Mode</h4>
            <input type="checkbox" id="switch" class="checkbox" onclick="window.location='../FM/'"/>
            <label for="switch" class="toggle">
            <p id="onoff">Off On</p></label>
            <br><br><br>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <br><br><br>
            <h6>Pause distracting apps when you need time to focus</h6>
        </div>
    {% endblock content %}