<html>  
    <head>
        <title> HabiTapp</title>
        <link rel="stylesheet" href="css.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa'>
    </head>

    <body class="dark_bg">

        <h1><a href="..\Home_Log_Sign\Home Page.html">HabiTapp</a></h1>
        <h6>"Your Habits in an App with just one Tap"</h6>

        <div class="div" id="bigcontainer">
            <h4 id="h4">Focus Mode</h4>
            <input type="checkbox" id="switch" class="checkbox" onclick="window.location='Focus Mode.html'"/>
            <label for="switch" class="toggle">
            <p id="onoff">Off On</p></label>

            <h6 id="info">Pause distracting apps when you need time to focus</h6>
        </div>
        
    </body>

</html>