{% extends 'Dashboard/base_dash.html' %}

    {% load static %}
    {% block content %}

        <div id="bigcontainer">
            <h4 id="MUA">Most Used Apps</h4>
            <br>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>
            <section class="apps">
                <img src="{% static 'messenger.webp' %}">
            </section>
            <p class="apptext">Messenger</p>

        </div>

    {% endblock content %}