<html>  
    <head>
        <title> HabiTapp</title>
        <link rel="stylesheet" href="css.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa'>
    </head>

    <body class="dark_bg">

        <h1><a href="..\Home_Log_Sign\Home Page.html">HabiTapp</a></h1>
        <h6>"Your Habits in an App with just one Tap"</h6>

        <div class="div">
            <h4>Wind Down</h4>
            <input type="checkbox" id="switch1" class="checkbox" onclick="window.location='Wind Down2.html'"/>
            <label for="switch1" class="toggle">
            <p id="onoff1">Off On</p></label>
            <h6 id="info">Your schedule will start again <br> when Wind Down is on</h6>
        </div>

    </body>

</html>