* {
    color: #26252F;
    font-family: Comfortaa;
}

body {
    background-image: url('BG.png') ;
    background-size:cover;
}

h1 {
    padding-top: 50px;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

h6 {
    text-align: center;
    font-size: 15px;
    margin-top: -5px;
}


a {
    color: white;
    text-decoration: none;
}

#start {
    padding: 15px;
    font-size: 18px;
    background-color: #26252F;
    border-color: #26252F;
    color: white;
    border-radius: 10px;
    position: relative;
    margin-top: 300px;
}